<div th:fragment="search-bar(id, placeholder, targetSelector)" class="search-bar">
    <div class="search-container-inner">
        <div class="input-group">
            <span class="input-group-text">
                <img th:src="@{/images/search-icon.png}" alt="Search" class="search-icon">
            </span>
            <input type="search"
                   th:id="${id}"
                   class="form-control search-input"
                   th:data-target-selector="${targetSelector}"
                   th:placeholder="${placeholder}">
        </div>
    </div>
</div>