.about-section {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
    padding: 15px 0;
}

.delimiter {
    width: 100%;
    height: 3px;
    background: rgb(162, 149, 149) !important;
    border-radius: 5px;
    margin: 15px 0;
}

.container-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #222;
}