.about-section {
    font-size: 1.1rem;
    line-height: 1.7;
    color: var(--text-muted);
    padding: 15px 0;
    background: transparent !important;
}

.delimiter {
    width: 100%;
    height: 3px;
    background: var(--border-contrast) !important;
    border-radius: 5px;
    margin: 15px 0;
}

.container-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-main);
}