.experience-button {
    padding-left: 10%;
}

.day-button{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.exercise-edit-form button {
    position: relative;
    z-index: 3;
    text-align: left;
}

.add-exercise-bnt {
    position: static;
    width: 100%;
    height: auto;
    z-index: auto;
}

.add-exercise-bnt button {
    width: 100%;
    padding: 0.5rem 0;
    font-weight: bold;
}