button {
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.experience-button{
    padding-left: 10%;
}

.day-button{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.day-button-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1;
}

