.btn-theme,
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:focus-visible,
.btn-theme:active {
    background-color: #2c343c !important;
    border-color: #2c343c !important;
    color: whitesmoke !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 10px;
}

.btn-theme:hover {
    background-color: #3a444e !important;
    border-color: #3a444e !important;
}

.btn-theme:active {
    background-color: #484e55 !important;
    border-color: #484e55 !important;
}