html {
    overflow-y: scroll;
}

body {
    padding-top: 50px;
    margin: 0;
    height: 100vh;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    font-family: Bahnschrift;
}


.background-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url('/images/background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 880px) {
    .background-section {
        background-image: none;
    }

    .text {
        font-size: 15px !important;
    }

    h1 {
        font-size: 24px !important;
    }
}

@media (max-width: 490px) {
    h1 {
        font-size: 20px !important;
    }
    .text {
        font-size: 12px !important;
    }
}

@media (min-width: 1200px) {
    .col-xl-day {
        flex: 0 0 auto;
        width: 14.2857%;
    }
}

input:-webkit-autofill {
    transition: background-color 5000s;
}