.text-container {
    align-items: flex-start;
}

.text-container div{
    font-size: 18px;
    margin: 2% 1%;
    border-radius: 10px;
}

.form-container {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.container-heading {
    width: 100%;
    text-align: center;
    height: 55px;
}

.setting-container{
    border-radius: 10px;
    padding: 20px;
}

.card-body{
    height: auto;
}