/* ---------- Common ---------- */
html.dark {
    background-color: #121212;
    color: #ffffff;
}

html.dark a {
    color: rgb(172, 165, 185);
}

/* ---------- Buttons ---------- */
html.dark .btn-theme,
html.dark .btn-theme:hover,
html.dark .btn-theme:focus,
html.dark .btn-theme:focus-visible,
html.dark .btn-theme:active {
    background-color: #2c343c;
    border-color: #2c343c;
    color: whitesmoke;
}

html.dark .btn:hover {
    background-color: #454c56;
    border-color: #454c56;
}

html.dark .btn-theme:active {
    background-color: #484e55;
    border-color: #484e55;
}

/* ---------- Container ---------- */
html.dark .form-container,
html.dark .text-container div,
html.dark .setting-container,
html.dark .create-workout-log {
    color: #ffffff;
    background-color: rgba(74, 78, 78, 0.9);
}

html.dark .container-heading {
    color: aliceblue;
}

html.dark .days-container div{
    background: rgba(102, 102, 102) !important;
    color: #a29595;
}

html.dark .coffee-container img{
    filter: invert(60%);
    border: none;
}

/* ---------- Dropdown ---------- */
html.dark select,
html.dark button,
html.dark .gender-button,
html.dark .experience-button,
html.dark .gender-options,
html.dark .experience-options {
    background-color: rgb(127, 135, 135);
    color: #000;
    border: 1px solid rgb(127, 135, 135);
}

html.dark .gender-options label,
html.dark .experience-options label {
    color: #000;
}

html.dark .gender-options label:hover,
html.dark .gender-options label:focus,
html.dark .experience-options label:hover,
html.dark .experience-options label:focus {
    background-color: #888;
    color: white;
}

/* ---------- Footer ---------- */
html.dark footer {
    color: #fff;
}

/* ---------- Input Fields ---------- */
html.dark input:-webkit-autofill {
    background-color: rgb(127, 135, 135);
    color: #000;
}

html.dark .form-control {
    background-color: rgb(127, 135, 135);
    border-color: rgb(127, 135, 135);
    color: #000;
}

html.dark .form-control:focus {
    background-color: rgb(127, 135, 135);
    border-color: rgb(127, 135, 135);
}

html.dark .form-control::placeholder {
    color: #aaa;
}

/* ---------- Navbar ---------- */
html.dark .navbar,
html.dark .navbar-collapse {
    background-color: rgba(11, 14, 19, 0.75);
}

html.dark .navbar .nav-link {
    color: #fff;
}

html.dark .navbar .nav-link:hover {
    color: #ccc;
}

html.dark .navbar-brand .logo {
    filter: invert(0%);
}

html.dark .navbar .nav-link,
html.dark .navbar div {
    border-color: rgb(127, 135, 135);
}

/* ---------- Body  ---------- */
html.dark body {
    background-color: #111;
    color: #ffffff;
}

