.gender-select,
.experience-select {
    position: relative;
    width: 100%;
}

.gender-select label,
.experience-select label {
    padding: 3% 0;
}
.gender-button,
.experience-button {
    width: 100%;
    padding: 5% 10%;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.gender-button:focus,
.experience-button:focus {
    outline: none;
}

.gender-options,
.experience-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 2% 8%;
}

.gender-select.open .gender-options,
.experience-select.open .experience-options {
    max-height: 500px;
    opacity: 1;
}

input[type="radio"] {
    display: none;
}