.search-icon {
    width: 20px;
    height: 20px;
}

.exercise-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.exercise-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exercise-name-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px 4px;
    font-size: 10px;
}

.exercise-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    border: 3px solid black;
    border-radius: 15%;
    overflow: hidden;
}

