.search-icon {
    width: 20px;
    height: 20px;
}

.exercise-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.exercise-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exercise-name-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px 4px;
    font-size: 10px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.exercise-card {
    border: black 3px solid;
}

.show-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}