.form-control {
    background-color: rgb(127, 135, 135);
    border-color: rgb(127, 135, 135);
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    color: #000;
    transition: background-color 0.3s;
}

.form-control:focus {
    background-color: rgb(127, 135, 135);
    border-color: rgb(127, 135, 135);
    box-shadow: none;
}

.form-control::placeholder {
    color: #aaa;
    opacity: 1;
    transition: color 0.3s;
}

/* Remove arrows in number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}