.form-control {
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    transition: background-color 0.3s;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}