/* ---------- Common ---------- */
html.light {
    background-color: #f5f5f5;
    color: #111;
}

html.light a {
    color: #111 !important;
}

html.light body {
    background-color: #f5f5f5 !important;
    color: #111;
}

html.light .background-section{
    filter: invert(20%);
}

/* ---------- Buttons ---------- */
html.light .btn,
html.light .btn:focus,
html.light .btn:focus-visible{
    background-color: #d3d3d3;
    border-color: #c0c0c0;
    color: #111;
}

html.light .btn:hover {
    background-color: #c8c8c8;
    border-color: #b8b8b8;
}

html.light .btn-theme:active {
    background-color: #bfbfbf;
    border-color: #b0b0b0;
}

/* ---------- Container ---------- */
html.light .form-container,
html.light .text-container div,
html.light .setting-container,
html.light .create-workout-log {
    color: #111;
    background-color: rgba(220, 220, 220, 0.9);
}

html.light .container-heading {
    color: #222;
}

html.light .days-container div{
    background: #ffffff;
}

/* ---------- Dropdown ---------- */
html.light select,
html.light button,
html.light .gender-button,
html.light .experience-button,
html.light .gender-options,
html.light .experience-options {
    background-color: #d3d3d3;
    color: #111;
    border: 1px solid #c0c0c0;
}

html.light .gender-options label,
html.light .experience-options label {
    color: #111;
}

html.light .gender-options label:hover,
html.light .gender-options label:focus,
html.light .experience-options label:hover,
html.light .experience-options label:focus {
    background-color: #e0e0e0;
    color: black;
}

/* ---------- Footer ---------- */
html.light footer {
    color: #333;
    background-color: #e0e0e0;
}

/* ---------- Input Fields ---------- */
html.light input:-webkit-autofill {
    background-color: #d3d3d3;
    color: #111;
}

html.light .form-control {
    background-color: #d3d3d3;
    border-color: #c0c0c0;
    color: #111;
}

html.light .form-control:focus {
    background-color: #d3d3d3;
    border-color: #b8b8b8;
}

html.light .form-control::placeholder {
    color: #666;
}

/* ---------- Navbar ---------- */
html.light .navbar,
html.light .navbar-collapse {
    background-color: rgba(209, 207, 203);
    opacity: 0.85;
}

html.light .navbar .nav-link {
    color: #111;
}

html.light .navbar .nav-link:hover {
    color: #000;
    opacity: 0.85;
}

html.light .navbar-brand .logo {
    filter: invert(85%);
    /*opacity: 0.95;*/
}