.workouts-container {
    min-height: 600px;
    max-height: 1000px;
    padding: 3% 2% !important;
}

.programs {
    height: 350px;
}

.delimiter {
    height: 100%;
    width: 3px;
    padding: 0;
    background: rgb(162, 149, 149) !important;
    border-radius: 5px;
}

/*Calendar*/
:root {
    --accent-color: #28a745;
    --bg-glass: rgba(255, 255, 255, 0.1);
    --text-main: #ffffff;
}

.calendar-container {
    max-width: 400px;
    background: var(--bg-glass);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px;
    color: var(--text-main);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;

    padding: 0;
    font-size: 1.2rem;
    line-height: 1;
}

.nav-btn:hover {
    background: var(--accent-color);
    color: white;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

/*.day:hover {*/
/*    background: rgba(255, 255, 255, 0.2);*/
/*}*/

.day.today {
    background: var(--accent-color);
    font-weight: bold;
    box-shadow: 0 0 10px var(--accent-color);
}

.day.empty {
    cursor: default;
}

.day.workout-day {
    background-color: rgba(40, 167, 69, 0.15);
    border: 2px solid #28a745;
    color: #28a745;
    font-weight: 800;
    cursor: pointer;
}