:root {
    --search-bg: #ffffff;
    --search-text: #000000;
}

.search-bar .input-group {
    display: flex;
    align-items: center;
    height: 100%;
}

.search-bar .search-icon {
    width: 22px;
    height: 22px;
    object-fit: contain;
    fill: var(--search-bg);
    color: black;
}

.search-bar .search-input {
    width: 100%;
    height: 35px;
}

.search-bar .search-container-inner,
.search-bar .row,
.search-bar .col-12 {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
}

.search-bar .input-group {
    flex-wrap: nowrap;
}

.search-bar .input-group-text {
    background-color: var(--search-bg);
    border: 1px solid var(--search-bg);
    border-right: none;
}

.search-bar .form-control {
    background-color: var(--search-bg);
    border: 1px solid var(--search-bg);
    color: var(--search-text);
    border-left: none;
}

@media (max-width: 576px) {
    .search-bar {
        margin: 0 10px;
    }
}
