.form-select{
    margin: 0;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}

h2 {
    margin-bottom: 20px;
}