<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:class="${theme != null ? theme : 'dark'}"
      th:lang="${language != null ? language : 'en'}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title th:text="#{about.heading}">About Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/dropdown.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/input.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/dark-theme.css}">
    <link rel="stylesheet" th:href="@{/css/light-theme.css}">
    <link rel="stylesheet" th:href="@{/css/container.css}">
</head>
<body>
<div th:replace="fragment/navbar.html::navbar"></div>
<div class="background-section">
    <div class="text-container row justify-content-center w-100">
        <div class="col-10 col-md-8 pt-2">
            <h1 class="container-heading" th:text="#{about.heading}">About Page</h1>
            <div class="text" th:text="#{about.welcome1}">Welcome to FitPlanner — your personal space for building healthier habits...</div>
            <div class="text" th:text="#{about.welcome2}">With FitPlanner, you’re in control...</div>
            <div class="text" th:text="#{about.welcome3}">If you’d rather start with something prepared...</div>
            <div class="text" th:text="#{about.welcome4}">FitPlanner is designed to grow with you...</div>
            <div class="text" th:text="#{about.welcome5}">At FitPlanner, our mission is simple...</div>
            <div class="text" th:text="#{about.welcome6}">Welcome to the future of personalized training.</div>
        </div>
    </div>
</div>
<footer th:replace="fragment/footer.html::footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>