<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:class="${session.theme != null ? session.theme : 'dark'}"
      th:lang="${session.language != null ? session.language : 'en'}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Workout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/dark-theme.css}">
    <link rel="stylesheet" th:href="@{/css/light-theme.css}">

    <link rel="stylesheet" th:href="@{/css/container.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/workouts.css}">
</head>
<script th:src="@{/js/workout-create}"></script>
<body>
<div th:replace="fragment/navbar.html::navbar"></div>
<div class="background-section py-4">
    <form th:action="@{/create-full-workout/{id}(id=${userDto.id})}" method="post">

        <div class="background-section py-4">
            <div class="create-workout-log container">
                <h2 th:text="#{create.workout}"
                    class="w-100 text-center text-dark mb-4">
                    Create Workout
                </h2>
                <div class="row g-3 justify-content-center">
                    <div class="mb-3">
                        <input type="text" class="form-control" th:placeholder="#{name}" required>
                    </div>
                    <div th:each="dayWorkout : ${weekDays}"
                         class="days-container col-6 col-md-4 col-lg-3 mb-3">

                        <!-- DAY CARD -->
                        <form th:action="@{/add-exercise/{day}/id/{id}(day=${dayWorkout.day},id=${userDto.id})}" method="post">
                            <button type="submit" class="card h-100 text-center day-card p-0">
                                <div class="card-body">
                                    <h6 th:text="${#messages.msg(dayWorkout.day.toLowerCase())}"></h6>
                                    <div class="coffee-container" th:if="${dayWorkout.exercises.isEmpty()}">
                                        <img th:src="@{/images/coffee.jpg}" class="img-fluid rounded">
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- CREATE -->
                <div class="text-center mt-6">
                    <button type="submit"
                            class="col-4 create-exercise-button btn btn-success btn-lg"
                            th:text="#{create}">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<footer th:replace="fragment/footer.html::footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>