<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:class="${session.theme != null ? session.theme : 'dark'}"
      th:lang="${session.language != null ? session.language : 'en'}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Settings Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/dark-theme.css}">
    <link rel="stylesheet" th:href="@{/css/light-theme.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/container.css}">
    <link rel="stylesheet" th:href="@{/css/settings.css}">
</head>
<body class="bg-dark text-light">
<div th:replace="fragment/navbar.html::navbar"></div>
<div class="background-section">
    <div class="setting-container container my-5">
        <h2 class="mb-4 text-dark" th:text="#{settings}">Settings</h2>
        <div class="card mb-4 bg-secondary text-light">
            <div class="card-body">
                <form th:action="@{/settings/language}" method="post" class="row g-3">
                    <div class="col-12 col-md-auto">
                        <label for="languageSelect" class="col-form-label" th:text="#{language}">Language:</label>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <select id="languageSelect" name="language" class="form-select w-100">
                            <option value="en" th:selected="${language=='en'}" th:text="#{english}">English</option>
                            <option value="bg" th:selected="${language=='bg'}" th:text="#{bulgarian}">Bulgarian</option>
                            <option value="es" th:selected="${language=='es'}" th:text="#{spanish}">Spanish</option>
                            <option value="fr" th:selected="${language=='fr'}" th:text="#{french}">French</option>
                        </select>
                    </div>
                    <div class="col-6 col-md-auto">
                        <button type="submit" class="btn w-100" th:text="#{save}">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-4 bg-secondary text-light">
            <div class="card-body">
                <form th:action="@{/settings/theme}" method="post" class="row g-3">
                    <div class="col-12 col-md-auto">
                        <label for="themeSelect" class="col-form-label" th:text="#{theme}">Theme:</label>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <select id="themeSelect" name="theme" class="form-select w-100">
                            <option value="light" th:selected="${theme=='light'}" th:text="#{light}">Light</option>
                            <option value="dark" th:selected="${theme=='dark'}" th:text="#{dark}">Dark</option>
                        </select>
                    </div>
                    <div class="col-6 col-md-auto">
                        <button type="submit" class="btn w-100" th:text="#{save}">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-4 bg-secondary text-light">
            <div class="card-body">
                <form th:action="@{/settings/units}" method="post" class="row g-3">
                    <div class="col-12 col-md-auto">
                        <label for="languageSelect" class="col-form-label" th:text="#{units}">Language:</label>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <select id="measuring-unit" name="units" class="form-select w-100">
                            <option value="kg" th:selected="${units=='kg'}">Kg</option>
                            <option value="lb" th:selected="${units=='lb'}">Lb</option>
                        </select>
                    </div>
                    <div class="col-6 col-md-auto">
                        <button type="submit" class="btn w-100" th:text="#{save}">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragment/footer.html::footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>